<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml" />-->
    <!--<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>-->
    <!--<include resource="org/springframework/boot/logging/logback/console-appender.xml" />-->
    <!--<include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->
    <!--<root level="INFO">-->
    <!--<appender-ref ref="CONSOLE" />-->
    <!--<appender-ref ref="FILE" />-->
    <!--</root>-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/qbankserver/qbankserver.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/qbankserver/qbankserver-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder><!-- 必须指定，否则不会往文件输出内容 -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <append>false</append>
        <prudent>false</prudent>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="rollingAppender" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>